html
    head
    link(rel="stylesheet" href="styles.css")

    h1= "KenzieGramPug"

    form(action="/uploads" method="POST" enttype="multer")
        input(type="file" name="myFile" id="myFile")

        button(type="submit")="Submit"
    img(src=val)
    script(src="index.js")
    script(scr="app.js")